/* ============================== *\
    Document Selectors
\* ============================== */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: salmon;
  font-family: 'Fascinate', cursive;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 2% 0 0 0;
}

/* ============================== *\
    Page Structure
\* ============================== */

.title, .controls {
  margin-bottom: 24px;
}

.title {
  font-size: 48px;

  display: flex;
  justify-content: center;
}

.container {
  flex: 2;
  width: 50%;
  height: auto;
  background-color: #ABB0B6;
  border: 36px solid #D1001C;
  border-radius: 2%;
  margin-bottom: 48px;
}

.controls {
  display: flex;
  gap: 32px;
}

.wrapper {
  text-align: center;
}

.wrapper > button {
  padding: 8px 24px;

  background-color: salmon;
  border: 6px solid #D1001C;
  border-radius: 16px;
  color: whitesmoke;
  font-size: 16px;
  font-family: monospace, 'Courier New', Courier;
  font-weight: 600;
  box-shadow: 0px 1px 144px 1px white;
}

button:hover {
  cursor: pointer;
}

.info {
  font-size: 24px;
}

#size, #color {
  border-top: 1px solid black;
}

.footer {
  padding: 16px 0;
  width: 100%;
  background-color: hsla(6, 69%, 35%, 1);
  color: whitesmoke;
  font-family: monospace;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icon {
  max-width: 40px;
  max-height: 40px;
}