/* ============================== *\
    Document Selectors
\* ============================== */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
}

/* ============================== *\
    PLACEHOLDER
\* ============================== */

.hover {
  background-color: black;
}

.container {
  background-color: rgb(240, 234, 214);
  border: 1px solid black;
  box-shadow: 0 8px 12px 0 hsla(0, 0%, 0%, 0.2), 0 12px 18px 0 hsla(0, 0%, 0%, 0.3);
}