/* ============================== *\
    Document Selectors
\* ============================== */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================== *\
    PLACEHOLDER
\* ============================== */

.grid-template {
  display: grid;
  grid-template-columns: repeat(16, 50px [col-start]);
  grid-template-rows: repeat(16, 50px [row-start]);
}

.hover {
  background-color: black;
}